body {
    background-color: rgb(251, 251, 251);
}
.container {
    width: 360px;
    height: 474px;
    margin: 100px auto;
    background-color: #fff;
    /* background-color: pink; */
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 7px 1px #eee;
}
.contain-logo {
    /* background-color: blue; */
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    padding: 10px;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    margin-bottom: 75px;
}
.contain-logo img {
    width: 100%;
}
.sou {
    font-weight: 700;
    text-align: center;
    color: rgb(33, 123, 255);
    padding-top: 75px;
}
h5 {    color: rgb(33, 123, 255);

}
input {
    width: 85%;
    background-color: rgb(244, 249, 251);
    color: var(--color-dark);
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    margin-top: -10px;
    outline: 0;
}
.user_register {
    outline: 0;
    color: #fff;
    background-color: rgb(33, 123, 255);
    width: 90%;
    border: 0;
    box-shadow: 0 2px 7px rbga(68, 160, 179, 0.5);
    height: 48px;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 15px;
    cursor: pointer;
}

.visitor {
    text-decoration: none;
    display: block;
    width: 90%;
    background-color: rgb(91, 184, 93);
    color: #fff;
    height: 48px;
    line-height: 48px;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
}
